<header>
    <img src="assets/img/ivan.jpg"
         alt="Ivan Villacorta - Foto de Perfil"
         width="130"
         height="130"
         loading="eager" />
    <h1>Ivan Villacorta</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Front End | Angular | Javascript | Typescript | Ionic</p>
        <p>Zona Sul, São Paulo, Brasil</p>
        <p>
            Desenvolvedor front end experiente atuando a mais de 10 anos com
            desenvolvimento, focado na arquitetura Javascript principalmente em
            aplicações web com Angular e em sistemas híbridos usando o framework
            Ionic em suas versões mais atuais.

            Meu objetivo principal de trabalho é sempre ser colaborativo com os
            objetivos do time para juntos podermos alcançar uma entrega de qualidade.

            Em meus estudos pessoais busco me manter atualizado com a evolução das
            tecnologias para que assim possa desempenhar um bom trabalho e estar
            sempre preparado para novos desafios.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf"
                       target="_blank"
                       class="btn btn-primary">
                        Download do currículo
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ivan-villacorta-4ab316204/"
                       target="_blank"
                       class="btn btn-secondary">
                        Visite meu perfil no LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg"
                     alt="Ícone para contato do Whatsapp"
                     width="22"
                     height="22">

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5511975869554&text=ol%C3%A1%20Ivan,%20preciso%20de%20job!"
                       target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>Whatsapp: (11) 97586-9554</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg"
                     alt="Ícone para contato de e-mail"
                     width="22"
                     height="22">

                <figcaption>
                    <a href="mailto:ivan_mv23@hotmail.com"
                       target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>ivan_mv23&#64;hotmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>

    </div>
</aside>